---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/projects
    method: GET
  response:
    body: '{"projects":[{"id":"37033518a4514f12adeb8346ac3f188c","name":"seancentred","created_at":"2015-04-09T08:14:19Z","updated_at":"2016-12-08T11:44:05Z","quota_set":{"compute":{"instances":40,"cores":40,"ram":60000},"volume":{"volumes":5,"snapshots":10,"gigabytes":40},"network":{"floatingip":10,"router":10,"security_group_rule":100,"security_group":10,"network":10,"port":50,"subnet":10,"pool":10,"vip":10}},"links":[{"href":"https://my.datacentred.io/api/projects/37033518a4514f12adeb8346ac3f188c","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/project","rel":"schema"}]},{"id":"dde43efb79994d8d83d5c268cb89723d","name":"get_stacked","created_at":"2016-09-15T10:55:05Z","updated_at":"2016-12-15T09:06:22Z","quota_set":{"compute":{"instances":40,"cores":40,"ram":60000},"volume":{"volumes":5,"snapshots":10,"gigabytes":40},"network":{"floatingip":10,"router":10,"security_group_rule":100,"security_group":10,"network":10,"port":10,"subnet":10,"pool":10,"vip":10}},"links":[{"href":"https:[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/projects/37033518a4514f12adeb8346ac3f188c
    method: GET
  response:
    body: '{"project":{"id":"37033518a4514f12adeb8346ac3f188c","name":"seancentred","created_at":"2015-04-09T08:14:19Z","updated_at":"2016-12-08T11:44:05Z","quota_set":{"compute":{"instances":40,"cores":40,"ram":60000},"volume":{"volumes":5,"snapshots":10,"gigabytes":40},"network":{"floatingip":10,"router":10,"security_group_rule":100,"security_group":10,"network":10,"port":50,"subnet":10,"pool":10,"vip":10}},"links":[{"href":"https://my.datacentred.io/api/projects/37033518a4514f12adeb8346ac3f188c","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/project","rel":"schema"}]}}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"8d734f0f2b635f02d6d86d74491944a6"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
[...]
