---
version: 1
rwmutex: {}
interactions:
- request:
    body: '{"project":{"name":"SanDimasHigh"}}'
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/projects
    method: POST
  response:
    body: '{"project":{"id":"7a527a602e004ef8b7e0ace486b85e50","name":"SanDimasHigh","created_at":"2017-09-27T12:49:39Z","updated_at":"2017-09-27T12:49:39Z","quota_set":{"compute":{"instances":5,"cores":5,"ram":10240},"volume":{"volumes":4,"snapshots":4,"gigabytes":40},"network":{"floatingip":1,"router":1,"security_group_rule":100,"security_group":10,"network":10,"port":10,"subnet":10,"pool":10,"vip":10}},"links":[{"href":"https://my.datacentred.io/api/projects/7a527a602e004ef8b7e0ace486b85e50","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/project","rel":"schema"}]}}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"2503fecc486e89cbcc8b16f4129943e2"
      X-Api-Version:
      - "1"
    status: 201 Created
    code: 201
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/projects/7a527a602e004ef8b7e0ace486b85e50/users/Boom!
    method: PUT
  response:
    body: '{"errors":[{"detail":"No such user ''Boom!''"}],"links":[{"href":"https://my.datacentred.io/api","rel":"help"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - "1"
    status: 404 Not Found
    code: 404
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/projects/7a527a602e004ef8b7e0ace486b85e50
    method: DELETE
  response:
    body: ""
    headers:
      X-Api-Version:
      - "1"
    status: 204 No Content
    code: 204
- request:
    body: '{"project":{"id":"7a527a602e004ef8b7e0ace486b85e50","name":"Boom!","quota_set":{"compute":{"cores":5,"instances":5,"ram":10240},"volume":{"gigabytes":40,"snapshots":4,"volumes":4},"network":{"floating_ip":0,"network":10,"port":10,"router":1,"security_group":10,"security_group_rule":100,"subnet":10}},"created_at":"2017-09-27T12:49:39Z","updated_at":"2017-09-27T12:49:39Z"}}'
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/projects/7a527a602e004ef8b7e0ace486b85e50
    method: PUT
  response:
    body: ""
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json
      X-Api-Version:
      - "1"
    status: 404 Not Found
    code: 404
