---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/projects/7a527a602e004ef8b7e0ace486b85e50
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json
      X-Api-Version:
      - "1"
    status: 404 Not Found
    code: 404
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/projects/7a527a602e004ef8b7e0ace486b85e50/users
    method: GET
  response:
    body: '{"errors":[{"detail":"No such project ''7a527a602e004ef8b7e0ace486b85e50''"}],"links":[{"href":"https://my.datacentred.io/api","rel":"help"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - "1"
    status: 404 Not Found
    code: 404
