---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/projects
    method: GET
  response:
    body: '{"projects":[{"id":"37033518a4514f12adeb8346ac3f188c","name":"seancentred","created_at":"2015-04-09T08:14:19Z","updated_at":"2016-12-08T11:44:05Z","quota_set":{"compute":{"instances":40,"cores":40,"ram":60000},"volume":{"volumes":5,"snapshots":10,"gigabytes":40},"network":{"floatingip":10,"router":10,"security_group_rule":100,"security_group":10,"network":10,"port":50,"subnet":10,"pool":10,"vip":10}},"links":[{"href":"https://my.datacentred.io/api/projects/37033518a4514f12adeb8346ac3f188c","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/project","rel":"schema"}]},{"id":"dde43efb79994d8d83d5c268cb89723d","name":"get_stacked","created_at":"2016-09-15T10:55:05Z","updated_at":"2016-12-15T09:06:22Z","quota_set":{"compute":{"instances":40,"cores":40,"ram":60000},"volume":{"volumes":5,"snapshots":10,"gigabytes":40},"network":{"floatingip":10,"router":10,"security_group_rule":100,"security_group":10,"network":10,"port":10,"subnet":10,"pool":10,"vip":10}},"links":[{"href":"https:[...]
- request:
    body: '{"project":{"id":"64a1ffb88b1048a0971ab7d63af893ee","name":"BattleOfTheBands","quota_set":{"compute":{"cores":5,"instances":5,"ram":10240},"volume":{"gigabytes":40,"snapshots":4,"volumes":4},"network":{"floating_ip":0,"network":10,"port":10,"router":1,"security_group":10,"security_group_rule":100,"subnet":10}},"created_at":"2017-09-27T05:54:51Z","updated_at":"2017-09-27T05:54:51Z"}}'
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/projects/64a1ffb88b1048a0971ab7d63af893ee
    method: PUT
  response:
    body: '{"project":{"id":"64a1ffb88b1048a0971ab7d63af893ee","name":"BattleOfTheBands","created_at":"2017-09-27T05:54:51Z","updated_at":"2017-09-27T05:54:53Z","quota_set":{"compute":{"instances":5,"cores":5,"ram":10240},"volume":{"volumes":4,"snapshots":4,"gigabytes":40},"network":{"floatingip":1,"router":1,"security_group_rule":100,"security_group":10,"network":10,"port":10,"subnet":10,"pool":10,"vip":10}},"links":[{"href":"https://my.datacentred.io/api/projects/64a1ffb88b1048a0971ab7d63af893ee","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/project","rel":"schema"}]}}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"cc784faa8b513fe607bd4281970baaa8"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/projects/64a1ffb88b1048a0971ab7d63af893ee/users
    method: GET
  response:
    body: '{"users":[]}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/users
    method: GET
  response:
    body: '{"users":[{"id":"2bd21ee25cde40fdb9454954e4fbb4b5","email":"sean.handley@gmail.com","first_name":"Sean","last_name":"Handley","created_at":"2015-02-13T11:07:00Z","updated_at":"2017-09-26T09:11:38Z","links":[{"href":"https://my.datacentred.io/api/users/2bd21ee25cde40fdb9454954e4fbb4b5","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]},{"id":"69a34c127dcb439fa9366762234687ac","email":"sean.handley@datacentred.co.uk","first_name":"Sean","last_name":"Handley","created_at":"2014-08-22T14:32:31Z","updated_at":"2017-09-21T14:55:43Z","links":[{"href":"https://my.datacentred.io/api/users/69a34c127dcb439fa9366762234687ac","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]}]}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"f855fe26babae4413565ed7b16a5f09f"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
