---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/projects/bogus
    method: GET
  response:
    body: ""
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json
      X-Api-Version:
      - "1"
    status: 404 Not Found
    code: 404
- request:
    body: '{"project":{"name":""}}'
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/projects
    method: POST
  response:
    body: '{"errors":[{"resource":"project","detail":"Project name too short.","field":"name"}],"links":[{"href":"https://my.datacentred.io/api","rel":"help"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - "1"
    status: 422 Unprocessable Entity
    code: 422
