---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/projects/5cc600fbc1fb435bb9f8f5c3200304cd
    method: GET
  response:
    body: '{"project":{"id":"5cc600fbc1fb435bb9f8f5c3200304cd","name":"SanDimasHigh","created_at":"2017-09-26T09:38:03Z","updated_at":"2017-09-26T09:38:03Z","quota_set":{"compute":{"instances":5,"cores":5,"ram":10240},"volume":{"volumes":4,"snapshots":4,"gigabytes":40},"network":{"floatingip":1,"router":1,"security_group_rule":100,"security_group":10,"network":10,"port":10,"subnet":10,"pool":10,"vip":10}},"links":[{"href":"https://my.datacentred.io/api/projects/5cc600fbc1fb435bb9f8f5c3200304cd","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/project","rel":"schema"}]}}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"87e07fa619c04c36cd8fd7c6602d21cd"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
