---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/roles
    method: GET
  response:
    body: '{"roles":[{"id":"bfe32940-00d5-45bc-a7e8-855adc9efbec","name":"Administrator","admin":true,"permissions":[],"created_at":"2015-03-24T14:57:55Z","updated_at":"2015-03-24T14:57:55Z","links":[{"href":"https://my.datacentred.io/api/roles/bfe32940-00d5-45bc-a7e8-855adc9efbec","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/role","rel":"schema"}]},{"id":"fb93c5f3-5af8-4598-9035-b0d76f4d2a35","name":"ffeds","admin":false,"permissions":[],"created_at":"2017-02-02T07:54:22Z","updated_at":"2017-02-02T07:54:22Z","links":[{"href":"https://my.datacentred.io/api/roles/fb93c5f3-5af8-4598-9035-b0d76f4d2a35","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/role","rel":"schema"}]},{"id":"654f423e-646a-4742-849d-d8c9ab9b4f39","name":"foo","admin":false,"permissions":["usage.read"],"created_at":"2017-09-12T16:20:02Z","updated_at":"2017-09-12T16:20:02Z","links":[{"href":"https://my.datacentred.io/api/roles/654f423e-646a-4742-849d-d8c9ab9b4f39","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/role","rel":"schema"}]},{"id":"d9fcd09b-7e9c-4449-b9a4-6a468a8cb777","name":"Wyld
      Stallyns","admin":false,"permissions":[],"created_at":"2017-09-27T05:55:16Z","updated_at":"2017-09-27T05:55:16Z","links":[{"href":"https://my.datacentred.io/api/roles/d9fcd09b-7e9c-4449-b9a4-6a468a8cb777","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/role","rel":"schema"}]}]}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"7c563f98541f5b3b53b14db44211b821"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
- request:
    body: '{"role":{"id":"d9fcd09b-7e9c-4449-b9a4-6a468a8cb777","name":"Wyld Stallyns
      Rock!","admin":false,"permissions":[],"created_at":"2017-09-27T05:55:16Z","updated_at":"2017-09-27T05:55:16Z"}}'
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/roles/d9fcd09b-7e9c-4449-b9a4-6a468a8cb777
    method: PUT
  response:
    body: '{"role":{"id":"d9fcd09b-7e9c-4449-b9a4-6a468a8cb777","name":"Wyld Stallyns
      Rock!","admin":false,"permissions":[],"created_at":"2017-09-27T05:55:16Z","updated_at":"2017-09-27T05:55:17Z","links":[{"href":"https://my.datacentred.io/api/roles/d9fcd09b-7e9c-4449-b9a4-6a468a8cb777","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/role","rel":"schema"}]}}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"d7b961917e9c87504ef16e740b9ee73c"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/roles/d9fcd09b-7e9c-4449-b9a4-6a468a8cb777/users
    method: GET
  response:
    body: '{"users":[]}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"adac7b84dc3b7394d8385aa0c65fe27a"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/users
    method: GET
  response:
    body: '{"users":[{"id":"2bd21ee25cde40fdb9454954e4fbb4b5","email":"sean.handley@gmail.com","first_name":"Sean","last_name":"Handley","created_at":"2015-02-13T11:07:00Z","updated_at":"2017-09-26T09:11:38Z","links":[{"href":"https://my.datacentred.io/api/users/2bd21ee25cde40fdb9454954e4fbb4b5","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]},{"id":"69a34c127dcb439fa9366762234687ac","email":"sean.handley@datacentred.co.uk","first_name":"Sean","last_name":"Handley","created_at":"2014-08-22T14:32:31Z","updated_at":"2017-09-21T14:55:43Z","links":[{"href":"https://my.datacentred.io/api/users/69a34c127dcb439fa9366762234687ac","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]}]}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"f855fe26babae4413565ed7b16a5f09f"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
