---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/roles
    method: GET
  response:
    body: '{"roles":[{"id":"bfe32940-00d5-45bc-a7e8-855adc9efbec","name":"Administrator","admin":true,"permissions":[],"created_at":"2015-03-24T14:57:55Z","updated_at":"2015-03-24T14:57:55Z","links":[{"href":"https://my.datacentred.io/api/roles/bfe32940-00d5-45bc-a7e8-855adc9efbec","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/role","rel":"schema"}]},{"id":"fb93c5f3-5af8-4598-9035-b0d76f4d2a35","name":"ffeds","admin":false,"permissions":[],"created_at":"2017-02-02T07:54:22Z","updated_at":"2017-02-02T07:54:22Z","links":[{"href":"https://my.datacentred.io/api/roles/fb93c5f3-5af8-4598-9035-b0d76f4d2a35","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/role","rel":"schema"}]},{"id":"654f423e-646a-4742-849d-d8c9ab9b4f39","name":"foo","admin":false,"permissions":["usage.read"],"created_at":"2017-09-12T16:20:02Z","updated_at":"2017-09-12T16:20:02Z","links":[{"href":"https://my.datacentred.io/api/roles/654f423e-646a-4742-849d-d8c9ab9b4f39","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/role","rel":"schema"}]}]}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"ee32a38fbb2f75e9071442767cc59157"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/roles/bfe32940-00d5-45bc-a7e8-855adc9efbec
    method: GET
  response:
    body: '{"role":{"id":"bfe32940-00d5-45bc-a7e8-855adc9efbec","name":"Administrator","admin":true,"permissions":[],"created_at":"2015-03-24T14:57:55Z","updated_at":"2015-03-24T14:57:55Z","links":[{"href":"https://my.datacentred.io/api/roles/bfe32940-00d5-45bc-a7e8-855adc9efbec","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/role","rel":"schema"}]}}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"cc243954686e5d9b830adc0fce5013a4"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
[...]
