---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/roles/bcb904ee-afb7-4f38-ac55-a9e29804dbf1
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json
      X-Api-Version:
      - "1"
    status: 404 Not Found
    code: 404
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/roles/bcb904ee-afb7-4f38-ac55-a9e29804dbf1/users
    method: GET
  response:
    body: '{"errors":[{"detail":"No such role ''bcb904ee-afb7-4f38-ac55-a9e29804dbf1''"}],"links":[{"href":"https://my.datacentred.io/api","rel":"help"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - "1"
    status: 404 Not Found
    code: 404
