---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/roles/d9fcd09b-7e9c-4449-b9a4-6a468a8cb777
    method: GET
  response:
    body: '{"role":{"id":"d9fcd09b-7e9c-4449-b9a4-6a468a8cb777","name":"Wyld Stallyns","admin":false,"permissions":[],"created_at":"2017-09-27T05:55:16Z","updated_at":"2017-09-27T05:55:16Z","links":[{"href":"https://my.datacentred.io/api/roles/d9fcd09b-7e9c-4449-b9a4-6a468a8cb777","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/role","rel":"schema"}]}}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"deaf5d3a1312a19fb1305e9b02f972f1"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
