---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/roles/5713b281-b9f7-41d7-bc8c-9eb92920d1d3
    method: GET
  response:
    body: '{"role":{"id":"5713b281-b9f7-41d7-bc8c-9eb92920d1d3","name":"Wyld Stallyns","admin":false,"permissions":[],"created_at":"2017-09-26T09:42:56Z","updated_at":"2017-09-26T09:42:56Z","links":[{"href":"https://my.datacentred.io/api/roles/5713b281-b9f7-41d7-bc8c-9eb92920d1d3","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/role","rel":"schema"}]}}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"e81cb06eddfcaad2dbc9059c0fd4ce21"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
