---
version: 1
rwmutex: {}
interactions:
- request:
    body: '{"role":{"name":"SanDimasHigh"}}'
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/roles
    method: POST
  response:
    body: '{"role":{"id":"bcb904ee-afb7-4f38-ac55-a9e29804dbf1","name":"SanDimasHigh","admin":false,"permissions":[],"created_at":"2017-09-27T12:51:47Z","updated_at":"2017-09-27T12:51:47Z","links":[{"href":"https://my.datacentred.io/api/roles/bcb904ee-afb7-4f38-ac55-a9e29804dbf1","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/role","rel":"schema"}]}}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"05a97347122cc259c1ac74653af24b73"
      X-Api-Version:
      - "1"
    status: 201 Created
    code: 201
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/roles/bcb904ee-afb7-4f38-ac55-a9e29804dbf1/users/Boom!
    method: PUT
  response:
    body: '{"errors":[{"detail":"No such user ''Boom!''"}],"links":[{"href":"https://my.datacentred.io/api","rel":"help"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - "1"
    status: 404 Not Found
    code: 404
[...]
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/roles/bcb904ee-afb7-4f38-ac55-a9e29804dbf1
    method: DELETE
  response:
    body: ""
    headers:
      X-Api-Version:
      - "1"
    status: 204 No Content
    code: 204
[...]
