---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/usage/2017/7
    method: GET
  response:
    body: '{"last_updated_at":"2017-09-22T13:12:22Z","projects":[{"id":"37033518a4514f12adeb8346ac3f188c","name":"seancentred","usage":{"images":[{"id":"6cf2e63e-9ab1-40fc-9989-cb5331a5f5aa","created_at":"2015-06-09T12:48:22Z","deleted_at":null,"latest_size_gb":40.0,"name":"devstack20150609","owner":"37033518a4514f12adeb8346ac3f188c","usage":[{"unit":"terabyte
      hours","value":29.06,"cost":{"currency":"gbp","value":0.91,"rate":0.0313},"meta":{}}]},{"id":"394081a1-244a-427b-a040-f58528567843","created_at":"2016-01-07T11:45:41Z","deleted_at":null,"latest_size_gb":80.0,"name":"devstack20160107","owner":"37033518a4514f12adeb8346ac3f188c","usage":[{"unit":"terabyte
      hours","value":58.13,"cost":{"currency":"gbp","value":1.82,"rate":0.0313},"meta":{}}]},{"id":"8949cffc-5bf6-48cb-8616-8061c10e6745","created_at":"2016-01-14T13:55:58Z","deleted_at":null,"latest_size_gb":80.0,"name":"devstack20160114","owner":"37033518a4514f12adeb8346ac3f[...]
