---
version: 1
rwmutex: {}
interactions:
- request:
    body: '{"user":{"email":"bill.s.preston@esquire.com","password":"Excellent"}}'
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/users
    method: POST
  response:
    body: '{"user":{"id":"0aa47474f2e44fd7ab017f4ba0f953d9","email":"bill.s.preston@esquire.com","first_name":null,"last_name":null,"created_at":"2017-09-27T12:54:49Z","updated_at":"2017-09-27T12:54:49Z","links":[{"href":"https://my.datacentred.io/api/users/0aa47474f2e44fd7ab017f4ba0f953d9","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]}}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"ede6adc59dc435cbe9dd72c800c59826"
      X-Api-Version:
      - "1"
    status: 201 Created
    code: 201
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/users/0aa47474f2e44fd7ab017f4ba0f953d9
    method: DELETE
  response:
    body: ""
    headers:
      X-Api-Version:
      - "1"
    status: 204 No Content
    code: 204
[...]
