---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/users/c522648cfefc458584d4c7262def07a0
    method: GET
  response:
    body: '{"user":{"id":"c522648cfefc458584d4c7262def07a0","email":"bill.s.preston@esquire.com","first_name":"Bill
      S.","last_name":"Preston","created_at":"2017-09-27T06:13:52Z","updated_at":"2017-09-27T06:13:52Z","links":[{"href":"https://my.datacentred.io/api/users/c522648cfefc458584d4c7262def07a0","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]}}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"18afa11c823981756249f4a460520aeb"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
