---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/users
    method: GET
  response:
    body: '{"users":[{"id":"2bd21ee25cde40fdb9454954e4fbb4b5","email":"sean.handley@gmail.com","first_name":"Sean","last_name":"Handley","created_at":"2015-02-13T11:07:00Z","updated_at":"2017-10-06T08:09:23Z","links":[{"href":"https://my.datacentred.io/api/users/2bd21ee25cde40fdb9454954e4fbb4b5","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]},{"id":"69a34c127dcb439fa9366762234687ac","email":"sean.handley@datacentred.co.uk","first_name":"Sean","last_name":"Handley","created_at":"2014-08-22T14:32:31Z","updated_at":"2017-10-06T07:50:12Z","links":[{"href":"https://my.datacentred.io/api/users/69a34c127dcb439fa9366762234687ac","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]}]}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"1e772163abcde8a905b7b0eb23d0409b"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/users/2bd21ee25cde40fdb9454954e4fbb4b5
    method: GET
  response:
    body: '{"user":{"id":"2bd21ee25cde40fdb9454954e4fbb4b5","email":"sean.handley@gmail.com","first_name":"Sean","last_name":"Handley","created_at":"2015-02-13T11:07:00Z","updated_at":"2017-10-06T08:09:23Z","links":[{"href":"https://my.datacentred.io/api/users/2bd21ee25cde40fdb9454954e4fbb4b5","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]}}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"b95075d687f17034498f65d6643ee74f"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
- request:
    body: '{"user":{"email":"bill.s.preston@esquire.com","first_name":"Bill S.","last_name":"Preston","password":"Non
      Heinous"}}'
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/users
    method: POST
  response:
    body: '{"user":{"id":"592c601914e54e50a5214f55335b1244","email":"bill.s.preston@esquire.com","first_name":"Bill
      S.","last_name":"Preston","created_at":"2017-10-06T08:10:47Z","updated_at":"2017-10-06T08:10:47Z","links":[{"href":"https://my.datacentred.io/api/users/592c601914e54e50a5214f55335b1244","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]}}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"b980d7621cf698265dd0722a6529f290"
      X-Api-Version:
      - "1"
    status: 201 Created
    code: 201
