---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/users/592c601914e54e50a5214f55335b1244
    method: GET
  response:
    body: '{"user":{"id":"592c601914e54e50a5214f55335b1244","email":"bill.s.preston@esquire.com","first_name":"Bill
      S.","last_name":"Preston","created_at":"2017-10-06T08:10:47Z","updated_at":"2017-10-06T08:10:47Z","links":[{"href":"https://my.datacentred.io/api/users/592c601914e54e50a5214f55335b1244","rel":"self"},{"href":"https://my.datacentred.io/api/v1/schemas/user","rel":"schema"}]}}'
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json; charset=utf-8
      Etag:
      - W/"b980d7621cf698265dd0722a6529f290"
      X-Api-Version:
      - "1"
    status: 200 OK
    code: 200
