---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/users/bogus
    method: GET
  response:
    body: ""
    headers:
      Content-Type:
      - application/vnd.datacentred.api+json
      X-Api-Version:
      - "1"
    status: 404 Not Found
    code: 404
- request:
    body: '{"user":{"email":""}}'
    form: {}
    headers:
      Authorization:
      - Token token=access_key:secret_key
      Content-Type:
      - application/json
    url: https://my.datacentred.io/api/users
    method: POST
  response:
    body: '{"errors":[{"resource":"user","detail":"User email can''t be blank.","field":"email"},{"resource":"user","detail":"User
      email is not a valid address.","field":"email"},{"resource":"user","detail":"User
      password can''t be blank.","field":"password"}],"links":[{"href":"https://my.datacentred.io/api","rel":"help"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Api-Version:
      - "1"
    status: 422 Unprocessable Entity
    code: 422
